@model IEnumerable<MecanicaParaTodos.Models.Tutorial>

@{
    ViewBag.Title = "Inicio";
}

<div class="container">
<div class="row">
    <div class="col-md-12">
        <div id="homeCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
            </ol>
            
            <div class="carousel-inner" role="listbox">
                @foreach (var item in Model) { 
                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="http://via.placeholder.com/1200x500" alt="Articulo 1">
                    <div class="carousel-caption d-block">
                        <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                    </div>
                </div>
                }
            </div>
            <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
<section>
    <div class="row">
        <div class="col-6 recientes">
            <h3>Articulos Recientes</h3>
            <ul>
                @foreach (var item in Model)
                {
                <li><a href="Tutorial.html">@Html.DisplayFor(modelItem => item.Titulo)</a></li>
                }
            </ul>
        </div>
        <div class="col-6 login">
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="emailInput" placeholder="Ingresa tu E-Mail" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="passInput" placeholder="Ingresa tu contraseña" />
                </div>
                <div class="form-group d-none passConfirm">
                    <input type="password" class="form-control" id="passConfirm" placeholder="Confirma tu contraseña" />
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        Recordarme
                    </label>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary justify-content-end ingresar">Ingresar</button>
                    <button type="submit" class="btn btn-primary justify-content-end registrarme d-none">Registrarme</button>
                </div>
                <a class="register" href="#">No tenes usuario? Registrate!</a>
                <a class="signIn d-none" href="#">Ya tengo usuario, quiero iniciar sesion.</a>
            </form>
        </div>
    </div>
</section>
    </div>
<script>
        $('.register').click(function () {
            $('.passConfirm, .registrarme, .signIn').removeClass('d-none');
            $('.register, .ingresar').addClass('d-none');
        });
        $('.signIn').click(function () {
            $('.passConfirm, .registrarme, .signIn').addClass('d-none');
            $('.register, .ingresar').removeClass('d-none');
        })
</script>